---
const {tag, class: className, size, ...rest} = Astro.props;


const sizes={
  m: 'm',
  l: 'l'
}
---

{tag === 'a' && (
  <a class={className} {...rest}>
    <slot />
  </a>
)}

{tag === 'button' && (
  <button class={className} {...rest}>
    <slot />
  </button>
)}

<style>
  a, button {
    border: none;
    border-radius: var(--radius-m);
    background: var(--accent-2-secondary);
    color: var(--primary-1);
    text-decoration: none;
  }
</style>