---
import content from '../../content/atlant.json';
import HeroCard from './HeroCard.astro';
import InfoCard from './InfoCard.astro';
import TgInvite from './TgInvite.astro';
import TestInvite from './TestInvite.astro';

const {info} = content;

---
<section id={info.id}>
  <h2 class="visually-hidden">{info.title}</h2>
  <HeroCard />
  <InfoCard />
  <TgInvite />
  <TestInvite />
</section>

<style>
  section {
    position: relative;
    z-index: 2;
    margin-top: var(--gap-l);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--gap-l);
    grid-template-areas:
      'hero hero info info'
      'hero hero tg test';
  }

  section > * {
    height: 100%;
  }
</style>