---
const { data: tgInvite } = Astro.props;
---

<a
  class="tgInvite"
  href={tgInvite.href}
  target="_blank"
  rel="noopener noreferrer"
>
  <article class="tgInvite__wrap">
    <b>{tgInvite.title}</b>
    <p>{tgInvite.text}</p>
  </article>
</a>

<style>
  .tgInvite {
    grid-area: tg;
    height: 100%;
    color: var(--text);
    text-decoration: none;
  }
  .tgInvite__wrap {
    --padding-left: 35%;
    --bg-left-pos: 0;
    border-radius: 24px;
    background-color: var(--accent-1-primary);
    min-height: 208px;
    height: 100%;
    position: relative;
    overflow: hidden;
    container-name: tgInvite;
    padding: 22px 16px;
    padding-left: 180px;
    padding-left: var(--padding-left);
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  .tgInvite__wrap::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: var(--bg-left-pos);
    width: 240px;
    height: 100%;
    width: 100cqh;
    background-image: url("/images/gnomes.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
  }

  .tgInvite__wrap::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 20px;
    right: 60px;
    width: 80px;
    height: 30px;
    background-image: url("/arrow.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  b {
    display: block;
    font-weight: 800;
    font-size: 60px;
    line-height: 42px;
    margin-bottom: 23px;
    text-transform: uppercase;
    z-index: 1;
  }

  p {
    font-weight: 800;
    font-size: 26px;
    line-height: 34px;
    z-index: 1;
    text-transform: uppercase;
  }

  @media (max-width: 1550px) {
    .tgInvite__wrap {
      --padding-left: 25%;
      --bg-left-pos: -25px;
    }
  }

  @media (max-width: 1194px) {
    b {
      font-size: 56px;
      line-height: 47px;
    }

    p {
      font-size: 19px;
      line-height: 30px;
    }

    .tgInvite__wrap::after {
      right: 16px;
    }
  }

  @media (max-width: 1024px) {
    p {
      font-size: 26px;
      line-height: 34px;
    }
  }

  @media (max-width: 768px) {
    p {
      font-size: 24px;
      line-height: 28px;
    }

    .tgInvite__wrap {
      padding-bottom: 55px;
    }

    .tgInvite__wrap::after {
      bottom: 15px;
    }
  }

  @media (max-width: 425px) {
    .tgInvite__wrap {
      --padding-left: 22%;
      --bg-left-pos: -35px;
      padding-right: 16px;
    }
  }
</style>
