---
import Footer from '../blocks/footer/Footer.astro';
import Games from '../blocks/games/Games.astro';
import Header from '../blocks/header/Header.astro';
import Hero from '../blocks/hero/Hero.astro';
import Info from '../blocks/info/Info.astro';
import Plans from '../blocks/plans/Plans.astro';
import '../styles/reset.css';
import '../styles/fonts.css';
import '../styles/main.css';
import Ellipses from '../components/Ellipses.astro';

const TITLE = 'Ai Atlant';
const LANG = 'en';
---

<html lang={LANG}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{TITLE}</title>
	</head>
	<body>
		<div class="container">
			<Header />
			<Hero />
			<Info />
			<Games />
			<Plans />
			<Footer />
			<Ellipses />
		</div>
	</body>
</html>

<style>
	body {
		background: var(--primary-1);
		font-family: "Jost";
	}

	.container {
		padding: var(--gap-xl);
		position: relative;
		overflow-x: hidden;
	}

	@media (max-width: 768px) {
		body {
			padding: 0;
		}
	}
</style>