---
---
<div class="ellipse ellipse-1"></div>
<div class="ellipse ellipse-2"></div>
<div class="ellipse ellipse-3"></div>
<div class="ellipse ellipse-4"></div>

<style>
  .ellipse {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }

  .ellipse-1 {
    background-color: var(--accent-1-primary);
    width: 1450px;
    height: 1384px;
    left: -94px;
    top: -462px;
    opacity: 52%;
  }
  .ellipse-2 {
    background-color: var(--primary-2);
    width: 1342px;
    height: 1281px;
    left: -74px;
    top: 115px;
    opacity: 52%;
  }
</style>