---
import FeatureCard from "./FeatureCard.astro";

const { data } = Astro.props;
---

<section class="features container" id={data.id}>
  <h2 class="features__title title">{data.title}</h2>
  <ul class="features__list">
    {
      data.list.map((item) => (
        <li class="features__item">
          <FeatureCard data={item} />
        </li>
      ))
    }
  </ul>
</section>

<style>
  .features {
    position: relative;
    z-index: 2;
    color: var(--text);
  }

  .feature__pic img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
</style>
