---
import PlanList from "./PlanList.astro";

const { data: plans } = Astro.props;
---

<section class="plans" id={plans.id}>
  <h2 class="plans__title">{plans.title}</h2>
  <div class="plans__content">
    <PlanList list={plans.list} />
  </div>
  <figure class="plans__illustration">
    <picture>
      <source
        srcset="/images/heroes-big.webp"
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="/images/heroes-big.png"
        media="(min-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="/images/heroes-mid.webp"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="/images/heroes-mid.png"
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="/images/heroes-small.webp"
        media="(max-width: 425px)"
        type="image/webp"
      />
      <source
        srcset="/images/heroes-small.png"
        media="(max-width: 425px)"
        type="image/png"
      />
      <img width="500" src="/images/heroes-big.png" alt="dnd characters" />
    </picture>
  </figure>
</section>

<style>
  .plans {
    position: relative;
    z-index: 2;
    margin-top: var(--gap-l);
    color: var(--text);
    overflow: hidden;
    --plan-width: 530px;
    --plan-left: 183px;
    --bg-x-pos: 5%;
    --bg-y-pos: 50%;
    --bg-width: 43%;
    padding-bottom: 100px;
  }
  .plans__title {
    font-size: 80px;
    line-height: 86px;
    color: var(--text);
    margin-bottom: 65px;
    margin-left: 101px;
    margin-top: 136px;
  }

  .plans__content {
    position: relative;
    z-index: 2;
    width: var(--plan-width);
    max-width: 100%;
    margin: 0;
    margin-left: var(--plan-left);
  }

  .plans__illustration {
    z-index: 1;
    position: absolute;
    right: var(--bg-x-pos);
    top: var(--bg-y-pos);
    max-width: 814px;
    width: var(--bg-width);
    transform: translateY(-50%);
  }

  .plans__illustration img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 1728px) {
    .plans {
      --plan-width: 490px;
      --bg-x-pos: 2%;
    }
  }

  @media (max-width: 1440px) {
    .plans {
      --bg-x-pos: 0%;
      --bg-y-pos: 60%;
      --bg-width: 52%;
      --plan-left: 155px;
    }
  }

  @media (max-width: 1260px) {
    .plans {
      --bg-y-pos: 56%;
      --bg-width: 48%;
      --plan-left: 46px;
    }
  }

  @media (max-width: 1260px) {
    .plans {
      margin: 0 -16px;
      --bg-x-pos: -5%;
      --bg-y-pos: 60%;
      --bg-width: 50%;
      --plan-left: 46px;
    }
  }

  @media (max-width: 920px) {
    .plans {
      --bg-width: 100%;
      padding-top: 64px;
      padding-bottom: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .plans__title {
      margin: 0;
      margin-bottom: 65px;
    }

    .plans__content {
      margin: 0;
    }

    .plans__illustration {
      position: static;
      transform: none;
      margin: 0 -16px;
      max-width: initial;
      width: calc(100% + 32px);
    }
  }

  @media (max-width: 768px) {
    .plans__illustration {
      margin: 0;
      max-width: initial;
      width: 100%;
    }
  }

  @media (max-width: 425px) {
    .plans {
      padding: 40px 16px 0;
      --bg-width: 100%;
    }
    .plans__title {
      margin: 0;
      font-size: 51px;
      line-height: 86px;
      margin-bottom: 28px;
    }

    .plans__illustration {
      margin-bottom: -60%;
    }

    .plans__illustration img {
      width: 100%;
    }
  }
</style>
