---
import content from '../../content/atlant.json';
import PlanList from './PlanList.astro';

const {plans} = content;
---
<section class="plans" id={plans.id}>
  <h2 class="plans__title">{plans.title}</h2>
  <div class="plans__content">
    <PlanList list={plans.list} />
  </div>
  <figure class="plans__illustration">
    <picture>
      <source srcset="/images/heroes-big-3x.png" media="(min-width: 1200px)">
      <source srcset="/images/heroes-mid-3x.png" media="(min-width: 768px)">
      <source srcset="/images/heroes-small-3x.png" media="(max-width: 425px)">
      <img width="500" src="/images/heroes-big-3x.png" alt="dnd characters">
    </picture>
  </figure>
</section>

<style>
  .plans {
    position: relative;
    z-index: 2;
    margin-top: var(--gap-l);
    color: var(--text);
  }
  .plans__title {
    font-size: 80px;
    line-height: 86px;
    color: var(--text);
    margin-bottom: 65px;
    margin-left: 101px;
    margin-top: 136px;
  }

  .plans__illustration {
    position: absolute;
    right: 5%;
    top: 15%;
  }

  @media (max-width: 667px) {
    section {
      /* display: none; */
    }
  }

  @media (max-width: 425px) {
    .plans {
      padding: 40px 16px 0;
    }
    .plans__title {
      margin: 0;
      font-size: 51px;
      line-height: 86px;
      margin-bottom: 28px;
    }

    .plans__illustration {
      position: static;
      margin-bottom: -60%;
    }

    .plans__illustration img {
      width: 100%;
    }
  }
</style>