---
import content from '../../content/atlant.json';
import Button from '../../ui/Button.astro';

const {menu, headerButtons} = content;

---
<header>
  <h2 class="logo">AI Atlant</h2>
  <nav class="navigation">
    {menu.map((item) => (
      <a href={item.href} class="menu-item">{item.title}</a>
    ))}
  </nav>
  <div class="actions">
    {headerButtons.map((item) => (
      <Button tag="a" href={item.href} class="action-item">{item.label}</Button>
    ))}
  </div>
</header>

<style>
  header {
    border-radius: var(--radius-l);
    background: var(--primary-1);
    padding: 12px var(--gap-xl);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .logo {
    color: var(--text);
  }

  .navigation {
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 113px;
  }

  .menu-item {
    color: var(--text);
    font-size: var(--size-l);
    text-decoration: none;
  }

  .menu-item.active {
    color: var(--accent-2-secondary);
  }

  .actions {
    display: flex;
    gap: var(--gap-xl);
    justify-self: end;
  }

  .action-item {
    font-size: var(--size-m);
    font-weight: 600;
    font-weight: bold;
    padding: 22px 24px;
  }
</style>