---
import Button from "../../ui/Button.astro";

const { headerButtons } = Astro.props;
---

<Fragment>
  {
    headerButtons.map((item) => (
      <Button
        tag="a"
        href={item.href}
        class="action-item"
        target="_blank"
        rel="noopener noreferrer"
      >
        {item.label}
      </Button>
    ))
  }
</Fragment>

<style>
  .action-item {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    height: 56px;
    display: flex;
    align-items: center;
  }
</style>
