---

---

<header class="header container">
  <div class="logo">
    <figure>
      <svg
        width="117"
        height="26"
        viewBox="0 0 117 26"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M112.317 25.3919C110.637 25.3919 109.461 24.8879 108.789 23.8799C108.129 22.8719 107.799 21.167 107.799 18.7653V12.4186H106.511V9.82394L108.714 9.13327L110.618 4.78394H113.903V9.13327H116.965V12.4186H113.847V19.3626C113.847 20.3582 113.99 21.0177 114.277 21.3413C114.563 21.6648 115.005 21.8266 115.602 21.8266C115.863 21.8266 116.1 21.7955 116.311 21.7333C116.523 21.671 116.697 21.5839 116.834 21.4719V24.0106C116.647 24.1973 116.405 24.3839 116.106 24.5706C115.807 24.7448 115.309 24.9253 114.613 25.1119C113.928 25.2986 113.163 25.3919 112.317 25.3919Z"
          fill="#628DFE"></path>
        <path
          d="M96.2587 25H90.2294V12.9227L89.1094 12.232V10.2347L93.1227 9.13334H96.296V11.5413L96.52 11.2613C96.6694 11.0622 96.8872 10.8258 97.1734 10.552C97.472 10.2782 97.8018 10.0107 98.1627 9.74934C98.5236 9.47557 98.9529 9.24534 99.4507 9.05868C99.9609 8.85957 100.459 8.76001 100.944 8.76001C102.649 8.76001 103.85 9.22668 104.547 10.16C105.256 11.0933 105.611 12.6551 105.611 14.8453C105.611 14.92 105.611 15.032 105.611 15.1813C105.598 15.3307 105.592 15.4489 105.592 15.536V25H99.432V14.9947C99.4694 13.8249 98.9716 13.24 97.9387 13.24C97.864 13.24 97.7894 13.2462 97.7147 13.2587C97.6525 13.2711 97.5903 13.2836 97.528 13.296C97.4783 13.3085 97.416 13.3333 97.3414 13.3707C97.2792 13.3956 97.2232 13.4205 97.1734 13.4453C97.1236 13.4578 97.0676 13.4889 97.0054 13.5387C96.9432 13.576 96.8934 13.6071 96.856 13.632C96.8187 13.6569 96.7627 13.7005 96.688 13.7627C96.6258 13.8125 96.576 13.8498 96.5387 13.8747C96.5138 13.8996 96.464 13.9431 96.3894 14.0053C96.3272 14.0551 96.2836 14.0925 96.2587 14.1173V25Z"
          fill="#628DFE"></path>
        <path
          d="M82.6532 23.3387L82.4665 23.544C82.342 23.6933 82.1492 23.8676 81.8878 24.0667C81.6389 24.2658 81.3465 24.4649 81.0105 24.664C80.6869 24.8631 80.2887 25.0311 79.8158 25.168C79.3429 25.3173 78.8576 25.392 78.3598 25.392C74.9998 25.392 73.3198 23.7307 73.3198 20.408C73.3198 19.7609 73.438 19.1698 73.6745 18.6347C73.9109 18.0871 74.2158 17.6267 74.5892 17.2533C74.9625 16.88 75.4105 16.5502 75.9332 16.264C76.4558 15.9653 76.9785 15.7351 77.5012 15.5733C78.0363 15.3991 78.5963 15.256 79.1812 15.144C79.766 15.032 80.2887 14.9573 80.7492 14.92C81.2096 14.8827 81.6514 14.864 82.0745 14.864V14.528C82.0745 13.7689 81.8692 13.2338 81.4585 12.9227C81.0603 12.6116 80.4132 12.456 79.5172 12.456C78.7456 12.456 77.9429 12.5493 77.1092 12.736C76.2754 12.9102 75.622 13.1218 75.1492 13.3707L73.9545 10.832C74.8007 10.2845 75.902 9.80534 77.2585 9.39468C78.6149 8.97157 79.9963 8.76001 81.4025 8.76001C82.6469 8.76001 83.6736 8.88445 84.4825 9.13334C85.2914 9.36979 85.9447 9.78045 86.4425 10.3653C86.9527 10.9378 87.3136 11.672 87.5252 12.568C87.7367 13.4516 87.8425 14.5778 87.8425 15.9467V23.544L88.3652 25H83.2505L82.6532 23.3387ZM81.1785 22.1067C81.3403 22.1067 81.4896 22.0756 81.6265 22.0133C81.7758 21.9387 81.8878 21.8702 81.9625 21.808C82.0372 21.7333 82.0745 21.696 82.0745 21.696V17.216C81.3154 17.216 80.7118 17.4276 80.2638 17.8507C79.8158 18.2613 79.5918 18.9022 79.5918 19.7733C79.5918 21.3289 80.1207 22.1067 81.1785 22.1067Z"
          fill="#628DFE"></path>
        <path
          d="M66.0165 25V3.88796L64.8965 3.21596V1.47996L70.8885 0.546631H72.1018V25H66.0165Z"
          fill="#628DFE"></path>
        <path
          d="M59.9259 25.3919C58.2459 25.3919 57.0699 24.8879 56.3979 23.8799C55.7384 22.8719 55.4086 21.167 55.4086 18.7653V12.4186H54.1206V9.82394L56.3233 9.13327L58.2273 4.78394H61.5126V9.13327H64.5739V12.4186H61.4566V19.3626C61.4566 20.3582 61.5997 21.0177 61.8859 21.3413C62.1722 21.6648 62.6139 21.8266 63.2113 21.8266C63.4726 21.8266 63.7091 21.7955 63.9206 21.7333C64.1322 21.671 64.3064 21.5839 64.4433 21.4719V24.0106C64.2566 24.1973 64.0139 24.3839 63.7153 24.5706C63.4166 24.7448 62.9188 24.9253 62.2219 25.1119C61.5375 25.2986 60.7722 25.3919 59.9259 25.3919Z"
          fill="#628DFE"></path>
        <path
          d="M47.7654 25L46.9254 21.5093H41.6241L40.9148 25H35.4268L41.1201 4.63468L40.6721 3.12268H48.3814L54.6161 25H47.7654ZM44.0321 9.54401L42.3894 17.7013H46.0108L44.0321 9.54401Z"
          fill="#628DFE"></path>
        <path d="M20.627 25V3.12268H26.9923V25H20.627Z" fill="#628DFE"></path>
        <path
          d="M12.9842 25L12.1442 21.5093H6.84284L6.13351 25H0.645508L6.33884 4.63468L5.89084 3.12268H13.6002L19.8348 25H12.9842ZM9.25084 9.54401L7.60817 17.7013H11.2295L9.25084 9.54401Z"
          fill="#628DFE"></path>
      </svg>
    </figure>
  </div>
  <div class="ellipse"></div>
</header>

<style>
  .header {
    height: 82px;
    display: flex;
    align-items: center;
  }

  .logo {
    position: relative;
    z-index: 2;
  }

  .ellipse {
    position: absolute;
    filter: blur(400px);
    background: rgb(59, 61, 138);
    opacity: 0.7;
    width: 1403px;
    height: 1338px;
    left: -196px;
    top: -364px;

    z-index: 1;

    display: none;
  }
</style>
