---
import SliderButton from "./testimonials/SliderButton.astro";
import TestimonialCard from "./testimonials/TestimonialCard.astro";

const { data } = Astro.props;
---

<section class="reviews container" id={data.id}>
  <header class="reviews__header">
    <h2 class="reviews__title title">{data.title}</h2>
    <div class="reviews__controls">
      <SliderButton direction="prev" disabled />
      <SliderButton direction="next" />
    </div>
  </header>
  <ul class="reviews__list carousel">
    {
      data.list.map((item) => (
        <li class="reviews__item carousel__item">
          <TestimonialCard data={item} />
        </li>
      ))
    }
  </ul>
</section>

<script>
  const buttons = document.querySelectorAll(".arrowbtn");

  console.log(buttons);

  buttons.forEach((btn) => {
    btn.addEventListener("click", () => {
      console.log("click");
    });
  });
</script>

<style>
  .reviews {
    position: relative;
    z-index: 2;
    color: var(--text);
    background-color: var(--button-primary);
    padding-top: 33px;
    padding-bottom: 87px;
    border-radius: 56px 56px 0 0;
  }

  .reviews__header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 53px;
  }

  .reviews__controls {
    display: flex;
    gap: 8px;
  }

  .reviews__list {
    list-style: none;
    padding: 0;
    margin: 0 calc(var(--container-gutter) * -1);
  }

  .carousel {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 32px;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .carousel__item {
    flex: 0 0 28%;
    scroll-snap-align: center;
  }

  .carousel__item:first-child {
    margin-left: 48px;
  }

  .carousel__item:last-child {
    margin-right: 48px;
  }
</style>
